img {
    max-width: 100px;
}

.card {
    margin-right: 15px;
    margin-bottom: 15px;
    border: 0;
}

.cover {
    background: #0d535f;
    z-index: 1000;
    width: 10vw;
    height: 14vh;
    position: absolute;
    box-shadow: 0px 4px 6px 0px #0a0a0a3b;
}

.cardEnd {
    filter: opacity(50%);
}

.cardTry {
    z-index: 1001;
}

.cardItem {
    background-color: #265f0e7a;
    width: 10vw;
    height: 14vh;
    padding: 5px;
    margin-right: 5px;
}